
.card {
    background-color: rgba(0, 0, 0, 0.849);
    border-radius: 10px 10px 10px 10px;
    height: 260px;
    width: 350px;
    margin: 3px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(255, 174, 0, 0.39) 0px -3px 5px; */
    
}

.card:hover{
    transform: translateY(-9px);
    background-color:rgb(73, 73, 73);
}

.image{
    width: 220px;
    height: 220px;
    background-color: white;
    border-radius: 50%;
    float: left;
    margin: 10px;
}

.image_url{
    height: 100px;
    width: 220px;
    object-fit:contain;
    margin: 50px 0px 0px 0px;
    border-radius: 35%;
}

.logo_url{
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    float: right;
    margin: 10px;
}

.info h3{
    margin-left: 5px;
    text-decoration: none;
    color: white;

}

.price{
    color: green;
}



.info h3:link, .info h3:visited, .info h3:active {
    text-decoration:none;
  }

